---
layout: default
title: 廖小正 - Life Style
category: lifestyle  
---
<section class="inner">
	<h3>2015年微信朋友圈发布统计</h3>
	<p>总发布：143&nbsp;天&nbsp;&nbsp;183&nbsp;条&nbsp;&nbsp;710&nbsp;张图片&nbsp;&nbsp;28&nbsp;个分享</p>
	<br/>
	<div id="weixinFA" style="height:350px;"></div>
	<h3>2015年顾家统计</h3>
	<p>总通话：57&nbsp;次&nbsp;&nbsp;&nbsp;3&nbsp;小时&nbsp;&nbsp;22&nbsp;分&nbsp;&nbsp;28&nbsp;秒</p>
	<br/>
	<div id="PhoneCall" style="height:350px;"></div>
	<h3>2015年互联网消费统计</h3>
	<p>总购物：63014.37&nbsp;元</p>
	<p>总外卖：4791.22&nbsp;元</p>
	<p>总缴费：4336&nbsp;元&nbsp;&nbsp;（水电宽带）</p>
	<br/>
	<div id="Consumer" style="height:350px;"></div>
	<h3>2015年读书统计</h3>
	<p>总购买：53&nbsp;本&nbsp;&nbsp;总阅读：20&nbsp;本</p>
	<br/>
	<div id="BooksRadar" style="height:350px;"></div>
	<!--div id="BooksWordCloud" style="height:350px;"></div-->
	<div id="BooksBar" style="height:350px;"></div>
<script src="../assets/js/echarts.js"></script>
<script type="text/javascript">
	function createRandomItemStyle() {
		return {
			normal: {
				color: 'rgb(' + [
					Math.round(Math.random() * 160),
					Math.round(Math.random() * 160),
					Math.round(Math.random() * 160)
				].join(',') + ')'
			}
		};
	}
	require.config({
		paths: {
			echarts: '../assets/js'
		}
	});
	require(
		[
			'echarts',
			'echarts/chart/radar',
			'echarts/chart/bar',
			'echarts/chart/pie',
			'echarts/chart/line',
			'echarts/chart/wordCloud'
		],
		function (ec) {
			var BooksRadar = ec.init(document.getElementById('BooksRadar'));
			var BooksRadarOption = {
				title : {
					text: '',
					subtext: '书籍类别'
				},
				tooltip : {
					trigger: 'axis'
				},
				legend: {
					x : 'center',
					data:['2015','2014']
				},
				toolbox: {
					show : false,
					feature : {
						mark : {show: true},
						dataView : {show: true, readOnly: false},
						restore : {show: true},
						saveAsImage : {show: true}
					}
				},
				calculable : true,
				polar : [
					{
						indicator : [
							{text : '社科类', max  : 10},
							{text : '文学类', max  : 10},
							{text : '艺术类', max  : 10},
							{text : '传记类', max  : 10},
							{text : '经管类', max  : 30},
							{text : '励志类', max  : 10},
							{text : 'IT类', max  : 10}
						],
						radius : 100
					}
				],
				series : [
					{
						name: '年度书籍购买',
						type: 'radar',
						itemStyle: {
							normal: {
								areaStyle: {
									type: 'default'
								}
							}
						},
						data : [
							{
								value : [7, 7, 6, 3, 26, 2, 2],
								name : '2015'
							},
							{
								value : [0, 0, 2, 6, 15, 3, 6],
								name : '2014'
							}
						]
					}
				]
			};
			BooksRadar.setOption(BooksRadarOption);
			//
			/*
			var BooksWordCloud = ec.init(document.getElementById('BooksWordCloud'));
			var BooksWordCloudOption = {
				title: {
					text: '阅读关键词'
				},
				tooltip: {
					show: true
				},
				series: [{
					name: '阅读关键词',
					type: 'wordCloud',
					size: ['80%', '80%'],
					textRotation : [0, 45, 90, -45],
					textPadding: 0,
					autoSize: {
						enable: true,
						minSize: 14
					},
					data: [
						{
							name: "企业史",
							value: 10000,
							itemStyle: {
								normal: {
									color: 'black'
								}
							}
						},
						{
							name: "团队",
							value: 6181,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "管理",
							value: 5386,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "人性",
							value: 4055,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "温暖",
							value: 3467,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "电影",
							value: 2244,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "互联网",
							value: 1898,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "产品",
							value: 1484,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "设计",
							value: 1112,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "营销",
							value: 965,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "经济",
							value: 847,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "文案",
							value: 582,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "传记",
							value: 555,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "人文",
							value: 550,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "社会",
							value: 462,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "文学",
							value: 366,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "纪实",
							value: 360,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "心理",
							value: 282,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "金融",
							value: 273,
							itemStyle: createRandomItemStyle()
						},
						{
							name: "创业",
							value: 265,
							itemStyle: createRandomItemStyle()
						}
					]
				}]
			};
			BooksWordCloud.setOption(BooksWordCloudOption);	
			*/
			//
			var BooksBar = ec.init(document.getElementById('BooksBar'));
			var BooksBarOption = {
				title : {
					text: '',
					subtext: '本'
				},
				tooltip : {
					trigger: 'axis',
					axisPointer : {            // 坐标轴指示器，坐标轴触发有效
						type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
					},
					formatter: function (params){
						return params[0].name + '<br/>'
							   + params[0].seriesName + ' : ' + params[0].value + '<br/>'
							   + params[1].seriesName + ' : ' + (params[1].value + params[0].value);
					}
				},
				legend: {
					selectedMode:false,
					data:['购买量', '阅读量']
				},
				toolbox: {
					show : false,
					feature : {
						mark : {show: true},
						dataView : {show: true, readOnly: false},
						restore : {show: true},
						saveAsImage : {show: true}
					}
				},
				calculable : true,
				xAxis : [
					{
						type : 'category',
						data : ['社科','文学','艺术','传记','经管','励志','IT']
					}
				],
				yAxis : [
					{
						type : 'value',
						boundaryGap: [0, 0.1]
					}
				],
				series : [
					{
						name:'购买量',
						type:'bar',
						stack: 'sum',
						barCategoryGap: '50%',
						itemStyle: {
							normal: {
								color: '#87cefa',
								barBorderColor: '#87cefa',
								barBorderWidth: 2,
								barBorderRadius:0,
								label : {
									show: true, position: 'insideTop'
								}
							}
						},
						data:[5, 4, 4, 3, 13, 2, 2]
					},
					{
						name:'阅读量',
						type:'bar',
						stack: 'sum',
						itemStyle: {
							normal: {
								color: '#fff',
								barBorderColor: '#87cefa',
								barBorderWidth: 2,
								barBorderRadius:0,
								label : {
									show: true, 
									position: 'top',
									formatter: function (params) {
										for (var i = 0, l = BooksBarOption.xAxis[0].data.length; i < l; i++) {
											if (BooksBarOption.xAxis[0].data[i] == params.name) {
												return BooksBarOption.series[0].data[i] + params.value;
											}
										}
									},
									textStyle: {
										color: '#ff7f50'
									}
								}
							}
						},
						data:[2, 3, 2, 0, 13, 0, 0]
					}
				],
				grid: {
					x: '16%',
					x2: '10%'
				}
			};
			BooksBar.setOption(BooksBarOption);
			//
			var PhoneCallBar = ec.init(document.getElementById('PhoneCall'));
			var PhoneCallOption = {
				title : {
					text: '',
					subtext: '时长/次数'
				},
				tooltip : {
					trigger: 'axis'
				},
				legend: {
					data:['次数','时长']
				},
				toolbox: {
					show : false,
					feature : {
						mark : {show: true},
						dataView : {show: true, readOnly: false},
						magicType : {show: true, type: ['line', 'bar']},
						restore : {show: true},
						saveAsImage : {show: true}
					}
				},
				calculable : true,
				xAxis : [
					{
						type : 'category',
						boundaryGap : false,
						data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
					}
				],
				yAxis : [
					{
						type : 'value',
						axisLabel : {
							formatter: '{value}'
						}
					}
				],
				series : [
					{
						name:'次数',
						type:'line',
						data:[5, 5, 9, 6, 6, 4, 0, 2, 5, 5, 6, 4],
						markLine : {
							data : [
								{type : 'average', name: '平均值'}
							]
						}
					},
					{
						name:'时长',
						type:'line',
						data:[10.10, 20.37, 52.12, 17.32, 21.30, 13.30, 0, 7.55, 6.17, 9.40, 21.05, 22.31],
						markLine : {
							data : [
								{type : 'average', name : '平均值'}
							]
						}
					}
				],
				grid: {
					x: '14%',
					x2: '12%'
				}
			};
			PhoneCallBar.setOption(PhoneCallOption);	
			//
			var ConsumerPie = ec.init(document.getElementById('Consumer'));
			var ConsumerOption = {
				title : {
					text: '',
					subtext: '',
					x:'center'
				},
				tooltip : {
					trigger: 'item',
					formatter: "{a} <br/>{b} : {c} ({d}%)"
				},
				legend: {
					show: false,
					orient : 'vertical',
					x : 'left',
					data:['购物','淘宝','天猫','京东','亚马逊','缴费','外卖','口碑','百度外卖','饿了么']
				},
				toolbox: {
					show : false
				},
				calculable : false,
				series : [
					{
						name:'消费类别',
						type:'pie',
						selectedMode: 'single',
						radius : [0, 60],
						// for funnel
						x: '20%',
						width: '40%',
						funnelAlign: 'right',
						max: 848,						
						itemStyle : {
							normal : {
								label : {
									position : 'inner'
								},
								labelLine : {
									show : false
								}
							}
						},
						data:[
							{value:63014.37, name:'购物', selected:true},
							{value:4336, name:'缴费'},
							{value:4791.22, name:'外卖'}
						]
					},
					{
						name:'消费类别',
						type:'pie',
						radius : [80, 110],						
						// for funnel
						x: '60%',
						width: '35%',
						funnelAlign: 'left',
						max: 348,						
						data:[
							{value:19102.4, name:'淘宝'},
							{value:25322.51, name:'天猫'},
							{value:18271.41, name:'京东'},
							{value:318.05, name:'亚马逊'},
							{value:4336, name:'缴费'},
							{value:3013.92, name:'口碑'},
							{value:1599.26, name:'百度外卖'},
							{value:152.3, name:'饿了么'}
						]
					}
				]
			};
			ConsumerPie.setOption(ConsumerOption);	
			//
			var weixinFA = ec.init(document.getElementById('weixinFA'));
			var weixinFAOption = {
			    title : {
					text: '',
					subtext: ''
				},
				tooltip : {
					trigger: 'axis'
				},
				legend: {
					data:['发布数量','天数','图片','分享']
				},
				toolbox: {
					show : false,
					feature : {
						mark : {show: true},
						dataView : {show: true, readOnly: false},
						magicType : {show: true, type: ['line', 'bar']},
						restore : {show: true},
						saveAsImage : {show: true}
					}
				},
				calculable : true,
				xAxis : [
					{
						type : 'category',
						boundaryGap : false,
						data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
					}
				],
				yAxis : [
					{
						type : 'value',
						axisLabel : {
							formatter: '{value} 条'
						}
					}
				],
				series : [
					{
						name:'发布数量',
						type:'line',
						data:[24, 17, 11, 3, 15, 25, 11, 9, 15, 20, 11, 22],
						markPoint : {
							data : [
								{type : 'max', name: '最多'},
								{type : 'min', name: '最少'}
							]
						},
						markLine : {
							data : [
								{type : 'average', name: '平均值'}
							]
						}
					},
					{
						name:'天数',
						type:'line',
						data:[16, 12, 11, 3, 13, 19, 9, 7, 14, 16, 10, 13],
						markPoint : {
							data : [
								{name : '月最低', value : 3, xAxis: 3, yAxis: -1.5}
							]
						},
						markLine : {
							data : [
								{type : 'average', name : '平均值'}
							]
						}
					},
					{
						name:'图片',
						type:'line',
						data:[52, 60, 32, 9, 45, 168, 32, 31, 39, 104, 31, 107],
						markPoint : {
							data : [
								{type : 'max', name: '最多'},
								{type : 'min', name: '最少'}
							]
						},
						markLine : {
							data : [
								{type : 'average', name: '平均值'}
							]
						}
					},
					{
						name:'分享',
						type:'line',
						data:[7, 1, 0, 1, 3, 2, 1, 1, 6, 2, 1, 3],
						markPoint : {
							data : [
								{name : '月最多', value : 7, xAxis: 0, yAxis: -1.5}
							]
						},
						markLine : {
							data : [
								{type : 'average', name: '平均值'}
							]
						}
					}
				],
				grid: {
					x: '14%',
					x2: '12%'
				}
			};
			weixinFA.setOption(weixinFAOption);
		}
	);
</script>

{% assign books = site.data.books %}
<h3>2015书单</h3>
<h4>社科类</h4>
{% for book in books %}
{% if book.type == '社科类' and book.year == "2015" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>文学类</h4>
{% for book in books %}
{% if book.type == '文学类' and book.year == "2015" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>艺术类</h4>
{% for book in books %}
{% if book.type == '艺术类' and book.year == "2015" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>传记类</h4>
{% for book in books %}
{% if book.type == '传记类' and book.year == "2015" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>经管类</h4>
{% for book in books %}
{% if book.type == '经管类' and book.year == "2015" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>IT类</h4>
{% for book in books %}
{% if book.type == 'IT类' and book.year == "2015" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>励志类</h4>
{% for book in books %}
{% if book.type == '励志类' and book.year == "2015" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}

<h3>2014书单</h3>
<h4>社科类</h4>
{% for book in books %}
{% if book.type == '社科类' and book.year == "2014" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>文学类</h4>
{% for book in books %}
{% if book.type == '文学类' and book.year == "2014" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>艺术类</h4>
{% for book in books %}
{% if book.type == '艺术类' and book.year == "2014" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>传记类</h4>
{% for book in books %}
{% if book.type == '传记类' and book.year == "2014" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>经管类</h4>
{% for book in books %}
{% if book.type == '经管类' and book.year == "2014" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>IT类</h4>
{% for book in books %}
{% if book.type == 'IT类' and book.year == "2014" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<h4>励志类</h4>
{% for book in books %}
{% if book.type == '励志类' and book.year == "2014" %}
<div>
	<a href="{{ book.url }}">[{{ book.name }}]</a>
	{% if book.star != '' %}
		&nbsp;&gt;&nbsp;
		{% if book.star == '5' %}
			&#9733;&#9733;&#9733;&#9733;&#9733;
		{% elsif book.star == '4' %}
			&#9733;&#9733;&#9733;&#9733;&#9734;
		{% elsif book.star == '3' %}
			&#9733;&#9733;&#9733;&#9734;&#9734;
		{% elsif book.star == '2' %}
			&#9733;&#9733;&#9734;&#9734;&#9734;
		{% elsif book.star == '1' %}
			&#9733;&#9734;&#9734;&#9734;&#9734;
		{% endif %}
	{% endif %}
	<br/>
	<div class="weui_progress">
		<small>阅读进度：</small>&nbsp;&nbsp;
		<div class="weui_progress_bar">
			<div class="weui_progress_inner_bar" style="width: {{ book.progress }};"></div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
	
<h3>歌单「听见音乐好时光」</h3>
<h4>那些惊艳耳朵的民谣</h4>
<p><a href="http://music.163.com/#/song?id=30260031">[成都]</a>&nbsp;&gt;&nbsp;赵雷 版</p>
<p><a href="http://music.163.com/#/song?id=29567189">[理想]</a>&nbsp;&gt;&nbsp;赵雷</p>
<p><a href="http://music.163.com/#/song?id=29844703">[遥远的歌]</a>&nbsp;&gt;&nbsp;CANNIE</p>
<p><a href="http://music.163.com/#/song?id=5243023">[远方]</a>&nbsp;&gt;&nbsp;梁青</p>
<p><a href="http://music.163.com/#/song?id=34381254">[城中人]</a>&nbsp;&gt;&nbsp;丁源</p>
<p><a href="http://music.163.com/#/song?id=28381611">[北方的女王]</a>&nbsp;&gt;&nbsp;尧十三</p>
<p><a href="http://music.163.com/#/song?id=28310930">[涩]</a>&nbsp;&gt;&nbsp;纣王</p>
<p><a href="http://music.163.com/#/song?id=31673404">[南]</a>&nbsp;&gt;&nbsp;Jam</p>
<p><a href="http://music.163.com/#/song?id=29371179">[八零年后]</a>&nbsp;&gt;&nbsp;任东</p>
<p><a href="http://music.163.com/#/song?id=80025">[陪我到可可西里去看海]</a>&nbsp;&gt;&nbsp;大冰</p>
<p><a href="http://music.163.com/#/song?id=5240791">[这一切没有想象的那么糟]</a>&nbsp;&gt;&nbsp;万晓利</p>
<p><a href="http://music.163.com/#/song?id=29436904">[南山南]</a>&nbsp;&gt;&nbsp;马頔</p>

<h3>影视单</h3>

<p>2014-05-09&nbsp;&nbsp;<a href="http://movie.douban.com/subject/19975889/">[扬子江大鳄]</a>&nbsp;&gt;&nbsp;&#9733;&#9733;&#9733;&#9733;&#9733;</p>
<p>2014-03-30&nbsp;&nbsp;<a href="http://movie.douban.com/subject/21941283/">[天注定]</a>&nbsp;&gt;&nbsp;&#9733;&#9733;&#9733;&#9733;&#9734;</p>
<p>2015-09-01&nbsp;&nbsp;<a href="http://movie.douban.com/subject/21941283/">[我是路人甲]</a>&nbsp;&gt;&nbsp;&#9733;&#9733;&#9733;&#9733;&#9733;</p>
<p><a href="http://movie.douban.com/subject/25853727/">[破风]</a>&nbsp;&gt;&nbsp;&#9733;&#9733;&#9733;&#9733;&#9733;</p>
<p><a href="http://movie.douban.com/subject/25830802/">[对风说爱你]</a>&nbsp;&gt;&nbsp;&#9733;&#9733;&#9733;&#9733;&#9733;</p>
<p><a href="http://movie.douban.com/subject/10463953/">[模仿游戏]</a>&nbsp;&gt;&nbsp;&#9733;&#9733;&#9733;&#9733;&#9734;</p>

</section>
