@import url("tinyIamge.css") screen and (max-device-width: 400px);
/*********/
/*
/* Theme by James Liao
/* Latest update at 2014.05.08
/*
/*********/
a, a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #3498db;/*#0088cc;*/
	text-decoration: none;
}
/*a:link {
	color: #3498db;#005580;
	text-decoration: none;
}*/
.category-info {
	color: gray;
	padding-bottom: 0.8em;
}
#all-list {
	padding: 1em;
}
#stalker i {
  font-size: 1.6em;
  margin-right: 0.2em;
}
.posts-list span {
	color: #aaa;
	font-size: 0.8em;
}
.posts-list li {
	font-size: 1.3em;
	line-height: 1.7em;
}
.article-info{
	font-size: 1.2em;
	color: gray;
	font-family: "lucida grande","lucida sans unicode",lucida,"Helvetica Neue",helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.article-info p {
	color: #999;
}
.article-content {
  color: #2f2f2f;
}
.article-content ul li {
	list-style: disc;
}
.article-content ol li {
	list-style: decimal;
}
.post-preview {
	/*padding: 3em;*/
  padding: 70px 40px 30px;
}
.post-preview a {
	color: #28a1c5;
}
.post-preview p {
	text-align: justify;
}
code, pre {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
.article-footer {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0px 1px 0px 0px #eeeeee;
	-webkit-box-shadow: inset 0px 1px 0px 0px #eeeeee;
	box-shadow: inset 0px 1px 0px 0px #eeeeee;
	padding: 0 1.5em;
	border: 1px solid #d3d3d3;
	background-color: #DEEBF7;
}
.article-footer  a {
	color: #28a1c5;
}
.comment {
  float:right;
}
.hide-go-top {
	opacity: 0;
	filter: alpha(opacity=0);
}
.go-top {
	z-index: 5000;
	position: fixed;
	right: 1%;
	bottom: 1%;
	font-size: 3em;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-webkit-transition: opacity 1s linear !important;
	-moz-transition: opacity 1s linear !important;
	-ms-transition: opacity 1s linear !important;
	-o-transition: opacity 1s linear !important;
	transition: opacity 1s linear !important;
}
.footer {
	padding: 1em 0;
	text-align: center;
	margin: 0 auto;
	font-size: 0.9em;
	display: block;
}
.footer a {
	color: #005580;
}