/*********/
/*
/* Theme by James Liao
/* Latest update at 2014.05.08
/*
/*********/
a {
	color: #333333;
	text-decoration: none;
}
a:link {
	color: #005580;
	text-decoration: none;
}
a:hover {
	color: #0088cc;
	text-decoration: none;
}
.category-info {
	color: gray;
	padding-bottom: 0.8em;
}
#all-list {
	padding: 1em;
}
.posts-list span {
	color: #aaa;
	font-size: 0.9em;
}
.posts-list li {
	font-size: 1.3em;
	line-height: 1.7em;
}
.article-info{
	font-size: 1.2em;
	color: gray;
	font-family: "lucida grande","lucida sans unicode",lucida,"Helvetica Neue",helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.article-info p {
	color: #999;
}
.article-content ul li {
	list-style: decimal;
}
.post-preview {
	padding: 3em;
}
.post-preview a {
	color: #28a1c5;
}
.post-preview p {
	text-align: justify;
}

.pagination {
	text-align: center;
	margin-bottom: 2em;
}

.pagination span, .pagination a {
	border-radius: 2px;
	border: 1px solid #ddd;
	padding: 3px 10px;
	margin-left: 10px;
	background: #fff;
	box-shadow: 0 0 2px #f2f2f2;
}

.article-footer {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0px 1px 0px 0px #eeeeee;
	-webkit-box-shadow: inset 0px 1px 0px 0px #eeeeee;
	box-shadow: inset 0px 1px 0px 0px #eeeeee;
	padding: 0 1.5em;
	border: 1px solid #d3d3d3;
	background-color: #DEEBF7;
}
.article-footer  a {
	color: #28a1c5;
}

.hide-go-top {
	opacity: 0;
	filter: alpha(opacity=0);
}
.go-top {
	z-index: 5000;
	position: fixed;
	right: 1%;
	bottom: 1%;
	font-size: 3em;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-webkit-transition: opacity 1s linear !important;
	-moz-transition: opacity 1s linear !important;
	-ms-transition: opacity 1s linear !important;
	-o-transition: opacity 1s linear !important;
	transition: opacity 1s linear !important;
}

.footer {
	padding: 1em 0;
	text-align: center;
	margin: 0 auto;
	font-size: 0.9em;
	display: block;
}
.footer a {
	color: #005580;
}