/*********/
/*
/* Theme by James Liao
/* Latest update at 2014.05.07
/*
/*********/
a {
	color: #0082FF;
	text-decoration: none;
}
a:hover {
	color: black;
	text-decoration: none;
}
ul.posts span {
	color: #aaa;
	font-size: 0.9em;
}