<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{{ site.theme.name }} - {{ page.title }}</title>
  <meta name="author" content="{{ site.theme.name }}" />
  <meta name="description" content="The blog of {{ site.theme.name }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="{{ site.theme.name }}" href="{{site.url}}/atom.xml" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" type="text/css">
  <link rel="stylesheet" href="//cdn.staticfile.org/typo.css/1.1/typo.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!--link rel="stylesheet" href="/assets/css/all.css"-->
  <link rel="stylesheet" href="/assets/css/theme.css">
</head>
<body>
  <div class="container">
	<div class="row">
	  <div class="hidden-xs col-sm-4 col-md-3">
		{% include sidebar.html %}
	  </div>
	  <div class="clearfix visible-xs"></div>
	  <div class="col-xs-12 col-sm-8 col-md-9">
		  {{ content }}
	  </div>
	</div>
	<div class="footer">
	  {% include footer.html %}
	</div>
</div>
{% include analytics.html %}
<a href="https://github.com/vivlong" target="_blank">
	<img style="position: absolute; top: 0; right: 0; border: 0;" class="hidden-xs" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
</a>
<script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script type="text/javascript">
	!window.jQuery && document.write('<script src=//lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js><\/script>');
</script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>  
</body>
</html>