<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
	<link rel="dns-prefetch" href="//vivlong.28story.com">
	<link rel="dns-prefetch" href="//cdn.28story.com">
	<link rel="dns-prefetch" href="//vivlong.github.io">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<title>
		{% if page.category == 'blog' and page.url != '/blog/index.html' %}
			{{ site.theme.name }} - 
		{% endif %}
		{{ page.title }}
	</title>
    <meta name="author" content="{{ site.theme.name }}" />
    <meta name="description" content="The blog of {{ site.theme.name }}" />
	<link rel="apple-touch-icon" href="http://cdn.28story.com/github/YostNo_300.jpg">
	<link rel="apple-touch-icon" sizes="120x120" href="http://cdn.28story.com/github/YostNo_300.jpg">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="{{ site.theme.name }}" href="{{site.url}}/atom.xml" />
	<link rel="stylesheet" href="/assets/han/han.min.css">
    <link rel="stylesheet" href="/assets/css/page_mp_article_improve2a26bd.css">
    <link rel="stylesheet" href="/assets/css/not_in_mm2637ae.css">
	<link rel="stylesheet" href="/assets/social-share/css/share.min.css">
	<div id="wx_pic" style="margin:0 auto;display:none;">
		<img src="http://cdn.28story.com/github/YostNo_300.jpg"/>
	</div>
</head>
<body class="zh_CN mm_appmsg not_in_mm">
	<div class="rich_media">
	{{ content }}
	</div>
	<script src="//lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
	<script src="/assets/social-share/js/social-share.min.js"></script>
	<script type="text/javascript">
		var links = document.links;
		for (var i = 0, linksLength = links.length; i < linksLength; i++) {
		   if (links[i].hostname != window.location.hostname) { links[i].target = '_blank'; }
		}
		var $ssconfig = {
			sites               : ['qzone', 'qq', 'weibo','wechat', 'douban'], // 启用的站点
			disabled            : ['google', 'facebook', 'twitter'], // 禁用的站点
			mobileSites			: ['qzone', 'qq', 'weibo','wechat', 'douban'],
			wechatQrcodeTitle   : "微信扫一扫：分享", // 微信二维码提示文字
			wechatQrcodeHelper  : '<p>微信里点“发现”，扫一下</p><p>二维码便可将本文分享至朋友圈。</p>',
		};
		$('.social-share').share($ssconfig);
	</script>
</body>
</html>
